<header>
    <div class="logo">
        <img src="{{ url_for('static', filename='img/INTI Logo.png') }}" alt="INTI Logo" height="40">
    </div>    
    <h1 class="title">CourseXcel</h1>
    <div class="auth-buttons">
        <a href="#" 
           class="logout" 
           onclick="redirectLogout(event)" 
           data-logout="{{ url_for('logout') }}" 
           data-admin-logout="{{ url_for('admin_logout') }}">
            <strong>Logout</strong>
        </a>
    </div>        
</header>
